# Flutter / Dart
.dart_tool/
.packages
.pub/
/build/
/ios/Pods/
/android/.gradle/
/android/app/debug.keystore
.idea/
.vscode/
*.iml
*.log
.DS_Store
pubspec.lock

# Node / React
node_modules/
dist/
.env
